# REQUIRED CONFIG
TOKEN_API = "[YOUR-API-TOKEN]"
admin_id = "[YOUR-ID]"
url_sms_activate = "https://api.sms-activate.org/stubs/handler_api.php?api_key=[YOUR-API-KEY]&action=getTopCountriesByService&service=ig"
url_api_sms = "https://api.sms-activate.org/stubs/handler_api.php?api_key=[YOUR-API-KEY]&action=getBalance"
